<div class="container">
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Netflix</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Your <strong>favorites</strong> movies!</h1>
    <p>On netflix in a few clicks.</p>
    <a class="btn btn-outline-success" href="#">Try the app</a>
  </div>
</div>
<br>
<br>

<div>
<%= link_to "add a movie category", new_list_path, class: 'btn btn-outline-success'%>
</div>

<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.stockvault.net/data/2018/10/26/255972/preview16.jpg)">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
</div>
